/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

/* Header */
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.header .header__img {
  width: 100%;
  display: block;
}

.header .header__link {
  font-family: fantasy, cursive;
}

/* Container */
.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* Input */
.input,
.btn{
  outline: none;
}
.input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input_text:focus {
  color: #333;
}

/* Button */
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

.btn_delete {
  height: 32px;
}

.btn_delete .btn__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn_delete .btn__img:hover {
  transform: rotateZ(0);
}

/* Headline */
.headline,
.new-item__headline {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* New Item */
.new-item {
  margin: 1em 0;
}

.new-item__headline {
  display: block;
  margin: 0 0 20px;
}

.new-item__input {
  width: 318px;
  display: inline-block;
  flex-grow: 1;
}

.new-item__wrapper {
  display: flex;
}

/* Task List */
.task-list {
  margin: 0;
  padding: 0px;
}

/* Task */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.task > * {
  vertical-align: middle;
}

.task__text,
.task__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__input {
  width: 226px;
  display: none;
}

.task__checkbox {
  margin: 0 10px;
}

/* Completed */
.task-list_completed .task__text {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task_edit .task__input {
  display: inline-block;
  width: 224px;
}

.task_edit .task__text {
  display: none;
}